<div>
<h1 class = "countries">Countries</h1>
<a data-flickr-embed="true" href="https://www.flickr.com/photos/193230024@N07" title="">
    <img src="https://live.staticflickr.com/65535/51246139721_5eb83b9524_b.jpg" width="224" height="227" alt="" class= "center"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<h2 id= "overview">Overview</h2>
<p>Cricket as a sport began in England. The evidences available lead us to believe in south-east England in the beginning of 1900s. During those days, Australia, South Africa, and West Indies were the other countries where the sport was played. Gradually, the sport picked up popularity in the Asian continent as well. India, Pakistan, Sri Lanka, Bangladesh also started playing the sport.</p>

<h3 id = "Asian">Asian Countries Participation</h3>
<p>In late 1900s, Asian countries like India, Sri Lanka, and Pakistan have made a mark in world cricket with each winning World Cup once. It led to the founding of Asian Cricket Conference in 1983 that took charge of developing the sport in rest of Asia. By 21st century, Bangladesh had become a new force in Asian cricket. Nepal, Malaysia, and Afghanistan also play competitive cricket now. Amongst these three nations, Afghanistan made headlines by qualifying for the World Cup in 2014.
The Asian Cricket Conference was renamed as Asian Cricket Council in 2003, headquartered in Kuala Lumpur. The council is subordinate to ICC and has an association of 25 countries.</p>

<h4 id = "Non-asian">Non-Asian Countries participation</h4>
<p>England, Australia, West Indies, and South Africa started playing cricket from early 20th century. It was the brain of Abe Bailey, the then President of South Africa Cricket Association, to form an international council. Imperial Cricket Conference was formed in 1906 that was later renamed as International Cricket Council. Zimbabwe, Kenya, Ireland, Netherlands, Canada, Scotland, and UAE have all been part of international tournaments over two decades.</p>
</div>
