<div>
<h1>Matches</h1>
<h2>List of Matches</h2>
<h3>ODI 1 of 48</h3>
Date:- 30 May 2019<br>
England Vs South Africa<br>
Stadium:- Oval

<h3>ODI 2 of 48</h3>
Date:-31 May 19<br>
Pakistan Vs West Indies<br>
Stadium:-Trent Bridge

<h3>ODI 3 of 48</h3>
Date:-1 Jun 19<br>
Sri Lanka Vs New Zealand<br>
Stadium:-Sophia Grdens

<h3>ODI 4 of 48</h3>
Date:-2 Jun 19<br>
Afghanistan Vs Australia<br>
Stadium:-Bristol County grounds

<h3>ODI 5 of 48</h3>
Date:-2 Jun 19<br>
Bangladesh Vs South Africa<br>
Stadium:- The Oval

<h3>ODI 6 of 48</h3>
Date:-3 Jun 19<br>
Pakistan Vs England<br>
Stadium:-Trent Bridge

<h3>ODI 7 of 48</h3>
Date:-4 Jun 19<br>
Sri Lanka Vs Afghanistan<br>
Stadium:-Sophia Gardens

<h3>ODI 8 of 48</h3>
Date:-5 Jun 19<br>
South Africa Vs India<br>
Stadium:-Rose Bowl Cricket ground

<h3>ODI 9 of 48</h3>
Date:-6 Jun 19<br>
Bangladesh Vs New Zealand<br>
Stadium:-The Oval

<h3>ODI 10 of 48</h3>
Date:-6 Jun 19<br>
Australia Vs West Indies<br>
Stadium:-Trent Bridge

<h3>ODI 11 of 48</h3>
Date:-7 Jun 19<br>
Pakistan Vs Sri Lanka<br>
Stadium:-Bristol County ground

<h3>ODI 12 of 48</h3>
Date:-8 Jun 19<br>
England Vs Bangladesh<br>
Stadium:-Sophia gardens

<h3>ODI 13 of 48</h3>
Date:-9 Jun 19<br>
Afghanistan Vs New Zealand<br>
Stadium:-County ground, Taunton

<h3>ODI 14 of 48</h3>
Date:-9 Jun 19<br>
India Vs Australia<br>
Stadium:-The Oval

<h3>ODI 15 of 48</h3>
Date:-10 Jun 19<br>
South Africa Vs West Indies<br>
Stadium:-Rose Bowl Cricket Ground

<h3>ODI 16 of 48</h3>
Date:-11 Jun 19<br>
Bangladesh Vs Sri Lanka<br>
Stadium:-Bristol County ground

<h3>ODI 17 of 48</h3>
Date:-12 Jun 19<br>
Australia Vs Pakistan<br>
Stadium:- County ground, Taunton

<h3>ODI 18 of 48</h3>
Date:-13 Jun 19<br>
India Vs New Zealand<br>
Stadium:-Trent Bridge

<h3>ODI 19 of 48</h3>
Date:-14 Jun 19<br>
West Indies Vs England<br>
Stadium:-Rose Bowl Cricket Ground

<h3>ODI 20 of 48</h3>
Date:-15 Jun 19<br>
Australia Vs Sri Lanka<br>
Stadium:- The Oval

<h3>ODI 21 of 48</h3>
Date:-16 Jun 19<br>
Afghanistan Vs South Africa<br>
Stadium:-Sophia Gardens

<h3>ODI 22 of 48</h3>
Date:-16 Jun 19<br>
India Vs Pakistan<br>
Stadium:-Old Trafford cricket ground

<h3>ODI 23 of 48</h3>
Date:-17 Jun 19<br>
West Indies Vs Bangladesh<br>
Stadium:-County ground, Taunton

<h3>ODI 24 of 48</h3>
Date:-18 Jun 19<br>
England Vs Afghanistan<br>
Stadium:-Old Trafford cricket ground

<h3>ODI 25 of 48</h3>
Date:-19 Jun 19<br>
South Africa Vs New Zealand<br>
Stadium:-Edgbaston

<h3>ODI 26 of 48</h3>
Date:-20 Jun 19<br>
Australia Vs Bangladesh<br>
Stadium:-Trent Bridge

<h3>ODI 27 of 48</h3>
Date:-21 Jun 19<br>
Sri Lanka Vs England<br>
Stadium:-Headingley Carnegie

<h3>ODI 28 of 48</h3>
Date:-22 Jun 19<br>
India Vs Afghanistan<br>
Stadium:-Rose Bowl Cricket Ground

<h3>ODI 29 of 48</h3>
Date:-23 Jun 19<br>
New Zealand Vs West Indies<br>
Stadium:-Old Trafford Cricket Ground

<h3>ODI 30 of 48</h3>
Date:-23 Jun 19<br>
Pakistan Vs South Africa<br>
Stadium:- Lord's

<h3>ODI 31 of 48</h3>
Date:-24 Jun 19<br>
Bangladesh Vs Afghanistan<br>
Stadium:-Rose Bowl Cricket Ground

<h3>ODI 32 of 48</h3>
Date:-25 Jun 19<br>
Australia Vs England<br>
Stadium:-Lord'

<h3>ODI 33 of 48</h3>
Date:-26 Jun 19<br>
New Zealand Vs Pakistan<br>
Stadium:-Edgbaston

<h3>ODI 34 of 48</h3>
Date:-27 Jun 19<br>
India Vs West Indies<br>
Stadium:-Old Trafford Cricket Ground

<h3>ODI 35 of 48</h3>
Date:-28 Jun 19<br>
Sri Lanka Vs South Africa<br>
Stadium:-Riverside Ground

<h3>ODI 36 of 48</h3>
Date:-29 Jun 19<br>
Afghanistan Vs Pakistan<br>
Stadium:-Headingley Carnegie

<h3>ODI 37 of 48</h3>
Date:-30 Jun 19<br>
Australia Vs New Zealand<br>
Stadium:-Lord's

<h3>ODI 38 of 48</h3>
Date:-30 Jun 19<br>
England Vs India<br>
Stadium:-Edgbaston

<h3>ODI 39 of 48</h3>
Date:-1 Jul 19<br>
Sri Lanka Vs West Indies<br>
Stadium:-Riverside Ground

<h3>ODI 40 of 48</h3>
Date:-2 Jul 19<br>
India Vs Bangladesh<br>
Stadium:-Edgbaston

<h3>ODI 41 of 48</h3>
Date:-3 Jul 19<br>
England Vs New Zealand<br>
Stadium:-Riverside Ground

<h3>ODI 42 of 48</h3>
Date:-4 Jul 19<br>
West Indies Vs Afghanistan<br>
Stadium:-Headingley Carnegie

<h3>ODI 43 of 48</h3>
Date:-5 Jul 19<br>
Pakistan Vs Bangladesh<br>
Stadium:-Lord's

<h3>ODI 44 of 48</h3>
Date:-6 Jul 19<br>
Sri Lanka Vs India<br>
Stadium:-Headingley Carnegie

<h3>ODI 45 of 48</h3>
Date:-6 Jul 19<br>
South Africa Vs Australia<br>
Stadium:-Olf Trafford Cricket Ground

<h3>ODI 46 of 48</h3>
Date:-9 Jul 19<br>
Semifinals<br>
New Zealand Vs India<br>
Stadium:-Old Trafford Cricket Ground

<h3>ODI 47 of 48</h3>
Date:-11 Jul 19<br>
Semifinals<br>
Australia Vs England<br>
Stadium:-Edgbaston

<h3>ODI 48 of 48</h3>
Date:-14 Jul 19<br>
Finals<br>
New Zealand Vs England<br>
Stadium:-Lord's

<h1>Match Summary</h1>
<h2>England Vs South Africa</h2>
Winner:- England<br>
Looser:-South Africa<br>
Man of the Match:- Ben stokes<br>
Bowler of the Match:-Jofra Archer<br>

<h2>Pakistan Vs West Indies</h2>
Winner:-West Indies<br>
Looser:-Pakistan<br>
Man of the Match:-Oshane Thomas<br>
Bowler of the Match:-Mohammed Amir<br>

<h2>Sri Lanka Vs New Zealand</h2>
Winner:-New Zealand<br>
Looser:-Sri Lanka<br>
Man of the Match:-Matt Henry<br>
Bowler of the Match:-Lockie Ferguson<br>

<h2>Afghanistan Vs Australia</h2>
Winner:-Australia<br>
Looser:-Afghanistan<br>
Man of the Match:-David Warner<br>
Bowler of the Match:-Mitchell starc<br>

<h2>Bangladesh Vs South Africa</h2>
Winner:-Bangladesh<br>
Looser:-South Africa<br>
Man of the Match:-Shakib Al Hassan<br>
Bowler of the Match:-Shakib Al Hassan<br>

<h2>Pakistan Vs England</h2>
Winner:-Pakistan<br>
Looser:-England<br>
Man of the Match:-Mohammad Hafeez<br>
Bowler of the Match:-Mohammed Hafeez<br>

<h2>Sri Lanka Vs Afghanistan</h2>
Winner:-Sri Lanka<br>
Looser:-Afghanistan<br>
Man of the Match:-Mohammad Hafeez<br>
Bowler of the Match:-Mohammed Hafeez<br>

<h2>South Africa Vs India</h2>
Winner:-India<br>
Looser:-South Africa<br>
Man of the Match:-Rohit Sharma<br>
Bowler of the Match:-Yuzvendra Chahal<br>

<h2>Bangladesh Vs New Zealand</h2>
Winner:-New Zealand<br>
Looser:-Bangladesh<br>
Man of the Match:-Ross Taylor<br>
Bowler of the Match:-Matt Henry<br>

<h2>Australia Vs West Indies</h2>
Winner:Australia<br>
Looser:-West Indies<br>
Man of the Match:-Nathan Coulter Nile<br>
Bowler of the Match:-Mitchell Starc<br>


<h2>Pakistan Vs Sri Lanka</h2>
Match Abandoned

<h2>England Vs Bangladesh</h2>
Winner:England<br>
Looser:-Bangladesh<br>
Man of the Match:-Jason Roy<br>
Bowler of the Match:-Ben Stokes<br>

<h2>Afghanistan Vs New Zealand</h2>
Winner:New Zealand<br>
Looser:-Afghanistan<br>
Man of the Match:-James Neesham<br>
Bowler of the Match:-Jimmy Neesham<br>

<h2>India Vs Australia</h2>
Winner:India<br>
Looser:-Australia<br>
Man of the Match:-Shikhar Dhawan<br>
Bowler of the Match:-Jimmy Neesham<br>

<h2>South Africa Vs West Indies</h2>
No Result

<h2>Bangladesh Vs Sri Lanka</h2>
Match Abandoned

<h2>Australia Vs Pakistan</h2>
Winner:Australia<br>
Looser:-Pakistan<br>
Man of the Match:-David Wraner<br>
Bowler of the Match:-Pat Cummins<br>

<h2>India Vs New Zealand</h2>
Match Abandoned

<h2>West Indies Vs England</h2>
Winner:England<br>
Looser:-West Indies<br>
Man of the Match:-Joe Root<br>
Bowler of the Match:-Jofra Archer<br>

<h2>Australia Vs Sri Lanka</h2>
Winner:Australia<br>
Looser:-Sri Lanka<br>
Man of the Match:-Aaron Finch<br>
Bowler of the Match:-Mitchell Starc<br>

<h2>Afghanistan Vs South Africa</h2>
Winner:South Africa<br>
Looser:-Afghanistan<br>
Man of the Match:-Imran Tahir<br>
Bowler of the Match:-Imran Tahir<br>

<h2>India Vs Pakistan</h2>
Winner:India<br>
Looser:-Pakistan<br>
Man of the Match:-Rohit Sharma<br>
Bowler of the Match:-Jasprit Bumrah<br>

<h2>West Indies Vs Bangladesh</h2>
Winner:Bangladesh<br>
Looser:-West Indies<br>
Man of the Match:-Shakib Al Hasan<br>
Bowler of the Match:-Oshane Thomas<br>

<h2>England Vs Afghanistan</h2>
Winner:England<br>
Looser:-Afghanistan<br>
Man of the Match:-Eoin Morgan<br>
Bowler of the Match:-Chris Woakes<br>

<h2>England Vs Afghanistan</h2>
Winner:England<br>
Looser:-Afghanistan<br>
Man of the Match:-Eoin Morgan<br>
Bowler of the Match:-Jofra Archer<br>

<h2>South Africa Vs New Zealand</h2>
Winner:New Zealand<br>
Looser:-South Africa<br>
Man of the Match:-Kane Williamson<br>
Bowler of the Match:-Lockie Ferguson<br>

<h2>Australia Vs Bangladesh</h2>
Winner:Australia<br>
Looser:-Bangladesh<br>
Man of the Match:-David Warner<br>
Bowler of the Match:-Mitchell Starc<br>

<h2>Sri Lanka Vs England</h2>
Winner:Sri Lanka<br>
Looser:-England<br>
Man of the Match:-Lasith Malinga<br>
Bowler of the Match:-Lasith Malinga<br>

<h2>India Vs Afghanistan</h2>
Winner:India<br>
Looser:-Afghanistan<br>
Man of the Match:-Jasprit Bumrah<br>
Bowler of the Match:-Mohammed Shami<br>

<h2>New Zealand Vs West Indies</h2>
Winner:New Zealand<br>
Looser:-West Indies<br>
Man of the Match:-Kane Williamson<br>
Bowler of the Match:-Trent Boult<br>

<h2>Pakistan Vs South Africa</h2>
Winner:Pakistan<br>
Looser:-South Africa<br>
Man of the Match:-Haris Sohail<br>
Bowler of the Match:-Shaheen Afridi<br>

<h2>Bangladesh Vs Afghanistan</h2>
Winner:Bangladesh<br>
Looser:-Afghanistan<br>
Man of the Match:-Shakib Al Hasan<br>
Bowler of the Match:-Shakib Al Hasan<br>

<h2>Australia Vs England</h2>
Winner:Australia<br>
Looser:-England<br>
Man of the Match:-Aaron Finch<br>
Bowler of the Match:-Jason Behrendorff<br>

<h2>New Zealand Vs Pakistan</h2>
Winner:Pakistan<br>
Looser:-New Zealand<br>
Man of the Match:-Babar Azam<br>
Bowler of the Match:-Shaheen Afridi<br>

<h2>India Vs West Indies</h2>
Winner:India<br>
Looser:-West Indies<br>
Man of the Match:-Virat Kohli<br>
Bowler of the Match:-Mohammed Shami<br>

<h2>Sri Lanka Vs South Africa</h2>
Winner:Sri Lanka<br>
Looser:-South Africa<br>
Man of the Match:-Dwaine Pretorius<br>
Bowler of the Match:-Dwaine Pretorius<br>

<h2>Afghanistan Vs Pakistan</h2>
Winner:Pakistan<br>
Looser:-Afghanistan<br>
Man of the Match:-Imad Wasim<br>
Bowler of the Match:-Shaheen Afridi<br>

<h2>Australia Vs New Zealand</h2>
Winner:Australia<br>
Looser:-New Zealand<br>
Man of the Match:-Alex Carey<br>
Bowler of the Match:-Mitchell Starc<br>

<h2>England Vs India</h2>
Winner:England<br>
Looser:-India<br>
Man of the Match:-Jonny Bairstow<br>
Bowler of the Match:-Mohammed Shami<br>

<h2>Sri Lanka Vs West Indies</h2>
Winner:Sri Lanka<br>
Looser:-West Indies<br>
Man of the Match:-Avishka Fernando<br>
Bowler of the Match:-Dhananjay de silva<br>

<h2>India Vs Bangladesh</h2>
Winner:India<br>
Looser:-Bangladesh<br>
Man of the Match:-Rohit Sharma<br>
Bowler of the Match:-Jasprit Bumrah<br>

<h2>England Vs New Zealand</h2>
Winner:England<br>
Looser:-New Zealand<br>
Man of the Match:-Jonny Bairstow<br>
Bowler of the Match:-Mark Wood<br>

<h2>West Indies Vs Afghanistan</h2>
Winner:West Indies<br>
Looser:-Afghanistan<br>
Man of the Match:-Shai Hope<br>
Bowler of the Match:-Carlos Brathwaite<br>


<h2>Pakistan Vs Bangladesh</h2>
Winner:Pakistan<br>
Looser:-Bangladesh<br>
Man of the Match:-Shaheen Afridi<br>
Bowler of the Match:-Shaheen Afridi<br>


<h2>Sri Lanka Vs India</h2>
Winner:India<br>
Looser:-Sri Lanka<br>
Man of the Match:-Rohit Sharma<br>
Bowler of the Match:-Jasprit Bumrah<br>


<h2>South Africa Vs Australia</h2>
Winner:South Africa<br>
Looser:-Australia<br>
Man of the Match:-Faf du Plessis<br>
Bowler of the Match:-Mitchell Starc<br>


<h2>New Zealand Vs India</h2>
<h3>SemiFinals 1</h3>
Winner:New Zealand<br>
Looser:-India<br>
Man of the Match:-Matt Henry<br>
Bowler of the Match:-Matt Henry<br>


<h2>Australia Vs England</h2>
<h3>SemiFinals 2</h3>
Winner:England<br>
Looser:-Australia<br>
Man of the Match:-Chris Woakes<br>
Bowler of the Match:-Chris Woakes<br>


<h2>New Zealand Vs England</h2>
<h3>Finals</h3>
Winner:England<br>
Looser:-New Zealand<br>
Man of the Match:-Ben Stokes<br>
Bowler of the Match:-Chris Woakes<br>

</div>