<div>
<h1>Venues</h1>
<table style="width:100%">
    <tr>
        <th>Birmingham</th>
        <th>Bristol</th>
        <th>Cardiff</th>
        <th>Chester-lee-street</th>
        <th>Leeds</th>
        <th>London</th>
        <th>Manchester</th>
        <th>Nottingham</th>
        <th>Southampton</th>
        <th>Taunton</th>
     </tr>
     <tr>
        <td>Edgbaston</td>
        <td>Bristol County ground</td>
        <td>Sophia gardens</td>
        <td>Riverside ground</td>
        <td>Headlingley</td>
        <td>Lords</td>
        <td>Old Trafford</td>
        <td>Trent Bridge</td>
        <td>Rose Bowl</td>
        <td>County ground</td>
     </tr>
     <tr>
        <td>Capacity: 25,000</td>
        <td>Capacity: 17,500[</td>
        <td>Capacity: 15,643</td>
        <td>Capacity: 17,000</td>
        <td>Capacity: 18,350</td>
        <td>Capacity: 30,000</td>
        <td>Capacity: 26,000</td>
        <td>Capacity: 17,500</td>
        <td>Capacity: 25,000</td>
        <td>Capacity: 12,500</td>
     </tr>
     <tr>
        <td>Matches: 5 (including semi-final)</td>
        <td>Matches: 3</td>
        <td>Matches: 4</td>
        <td>Matches: 3</td> 
        <td>Matches: 4</td>
        <td>Matches: 5 (including final)</td>
        <td>Matches: 6 (including semi-final)</td>
        <td>Matches: 5</td>
        <td>Matches: 5</td>
        <td>Matches: 3</td>
     </tr>   
</table>
</div>