<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header></app-header>
<ul>
  <li>
      <a routerLink="/countries">Countries</a>
  </li>
  <li>
      <a routerLink="/teams">Teams</a>
  </li>
  <li>
      <a routerLink="/players">Players</a>
  </li>
  <li>
    <a routerLink="/venue">Venue</a>
</li>
<li>
  <a routerLink="/matches">Matches</a>
</li>
<li>
  <a routerLink="/results">Results</a>
</li>
<li>
  <a routerLink="/tournamentscoretable">Tournament Score Table</a>
</li>
</ul>
<router-outlet></router-outlet>

