<div>
<h1>Teams</h1>
<h2>Profile</h2>
<table style="width:100%">
    <tr>
        <th>India</th>
        <th>Australia</th>
        <th>New Zealand</th>
        <th>South Africa</th>
    </tr>
    <tr>
        <td>Virat Kohli</td>
        <td>Aaron Finch</td>
        <td>Kane Williamson</td>
        <td>Faf du Plessis </td>
    </tr>
    <tr>
        <td>Mayank Agarwal</td>
        <td>Jason Behrendorff</td>
        <td>Tom Blundell</td>
        <td>Hashim Amla</td>
    </tr>
    <tr>
        <td>Jasprit Bumrah</td>
        <td>Alex Carey</td>
        <td>Trent Boult</td>
        <td>Quinton de Kock</td>
    </tr>
    <tr>
        <td>Yuzvendra Chahal</td>
        <td>Nathan Coulter-Nile</td>
        <td>Colin de Grandhomme</td>
        <td>JP Duminy</td>
    </tr>
    <tr>
        <td>MS Dhoni</td>
        <td>Pat Cummins</td>
        <td>Lockie Ferguson</td>
        <td>Beuran Hendricks</td>   
    </tr>
    <tr>
        <td>Ravindra Jadeja</td>
        <td>Peter Handscomb</td>
        <td>Martin Guptill</td>
        <td>Aiden Markram</td>
    </tr>
    <tr>
        <td>Kedar Jadhav</td>
        <td>Usman Khawaja</td>
        <td>Matt Henry</td>
        <td>David Miller</td>
    </tr>
    <tr>
        <td>Dinesh Karthik</td>
        <td>Nathan Lyon</td>
        <td>Tom Latham</td>
        <td>Chris Morris</td>
    </tr>
    <tr>
        <td>Bhuvneshwar Kumar</td>
        <td>Glenn Maxwell</td>
        <td>Colin Munro</td>
        <td>Lungi Ngidi</td>
    </tr>
    <tr>
        <td>Hardik Pandya</td>
        <td>Kane Richardson</td>
        <td>Jimmy Neesham</td>
        <td>Andile Phehlukwayo</td>
    </tr>
    <tr>
        <td>Rishab Pant</td>
        <td>Steve Smith</td>
        <td>Henry Nicholls</td>
        <td>Dwaine Pretorius</td>
    </tr>
    <tr>
        <td>KL Rahul</td>
        <td>Mitchell Starc</td>
        <td>Mitchell Santner</td>
        <td>Kagiso Rabada</td>
    </tr>
    <tr>
        <td>Mohammed Shami</td>
        <td>Marcus Stoinis</td>
        <td>Ish Sodhi</td>
        <td>Tabraiz Shamsi</td>
    </tr>
    <tr>
        <td>Rohit Sharma</td>
        <td>David Warner</td>
        <td>Tim Southee</td>
        <td>Imran Tahir</td>
    </tr>
    <tr>
        <td>Kuldeep Yadav</td>
        <td>Adam Zampa</td>
        <td>Ross Taylor</td>
        <td>Rassie van der Dussen</td>
    </tr>
</table>
<h3>Strengths and weakness Of Team India</h3>
<p>If referred to stats alone that Team India’s top 3 is the best top 3 in the world currently i.e Rohit Sharma,Shikhar Dhawan and Virat Kohli and it is Team India’s best strength going into the World Cup 2019.Considering Wrist spin would play a vital role in the World Cup, the role of these two would be very important if India have to win the tournament.<br>
Looking at the middle-order as a whole, it looks slightly shallow. Also, based on historical performances, in case the top 3 fail together, the confidence that India’s middle-order shall cope up with any challenge is still missing.</p>

<h3>Strengths and weakness of Team Australia</h3>
<p>The comeback of Steve Smith and David Warner post the one year ban followed by the sandpaper saga is the biggest boost for Australia.<br>
They have only won four matches and lost 19 in the last two years time.This is the worst stats for any team in the cricket world. Aaron Finch’s struggle is a big concern as he is not able to give a solid start</p>

<h3>Strengths and weakness of Team New Zealand</h3>
<p>Ross Taylor, the most experienced player will be a key for the campaign for the Kiwis. Taylor, along with the skipper, Williamson is the backbone of their batting line up.<br>
    The pace attack of this team is really impressive and has been delivering well consistently.</p> 
<h3>Strength and weakness of Team South Africa</h3>
<p>Apart from a world-class top three batsmen in Quinton de Kock, Hashim Amla and Faf du Plessis, South Africa have one of the best bowling attacks at their disposal.<br>
    Chris Morris has been selected in the squad as an all-rounder and the lanky cricketer will have to do a lot with the bat apart from bowling some economical spells for the Proteas.</p>
</div>








