<div>
<h1>Players</h1>
<h2>Profile</h2>
<h3>India</h3>
<table style="width:100%">
<tr>
    <th rowspan = "2">Virat Kohli:</th>
    <td>Captain</td>
</tr>
<tr>
    <td>Right Handed Batsman</td>
</tr>
<tr>
    <th rowspan ="2">Mayank Agarwal:</th>
    <td>Right Handed Batsman</td>
</tr>
<tr>
    <td>off break</td>
</tr>
<tr>
    <th rowspan ="2">Jasprit Bumrah:</th>
    <td>Right Handed Batsman</td>
</tr>
<tr>
    <td>Right arm fast</td>
</tr>
<tr>
    <th rowspan ="2">Yuzvendra Chahal:</th>
    <td>Right Handed Batsman</td>
</tr>
<tr>
    <td>leg break googly</td>
</tr>
<tr>
    <th rowspan ="2">MS Dhoni:</th>
    <td>WicketKeeper;Right Handed Batsman</td>
</tr>
<tr>
    <td>Right arm medium</td>
</tr>
<tr>
    <th rowspan ="2">Ravindra Jadeja:</th>
    <td>left Handed Batsman</td>
</tr>
<tr>
    <td>slow left arm orthodox</td>
</tr>
<tr>
    <th rowspan ="2">Kedar Jadhav:</th>
    <td>Right Handed Bat</td>
</tr>
<tr>
    <td>Right-arm offbreak</td>
</tr>
<tr>
    <th rowspan ="1">Dinesh Karthik:</th>
    <td>WicketKeeper;Right handed batsman</td>
</tr>
<tr>
    <th rowspan ="2">Bhuvneshwar Kumar:</th>
    <td>Right Handed Bat</td>
</tr>
<tr>
    <td>Right-arm fast medium</td>
</tr>
<tr>
    <th rowspan ="2">Hardik Pandya:</th>
    <td>Right Handed Batsman</td>
</tr>
<tr>
    <td>Right-arm fast medium</td>
</tr>
<tr>
    <th rowspan ="1">Rishab Pant:</th>
    <td>Wicketkeepr;left Handed Batsman</td>
</tr>
<tr>
    <th rowspan ="2">KL Rahul:</th>
    <td>Right Handed Batsman</td>
</tr>
<tr>
    <td>N.A</td>
</tr>
<tr>
    <th rowspan ="2">Mohammed Shami:</th>
    <td>Right Handed Batsman</td>
</tr>
<tr>
    <td>Right-arm fast medium</td>
</tr>
<tr>
    <th rowspan ="2">Rohit Sharma:</th>
    <td>Right Handed Batsman</td>
</tr>
<tr>
    <td>Right-arm offbreak</td>
</tr>
<tr>
    <th rowspan ="2">Kuldeep Yadav:</th>
    <td>left Handed Batsman</td>
</tr>
<tr>
    <td>Left-arm chinaman</td>
</tr>
</table>
</div>